{% extends '../header.html' %}
{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block title %} Dashboard {% endblock %}</title>
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>

<body>
  {% block pagecontent %}
  {% include '../sidebar.html' %}
  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Twitter Overview</h1>
          


          <div class="btn-toolbar mb-2 mb-md-0">
              <form class="form-inline" method="POST" action="{% url 'search-twitter' %}">
                  {% csrf_token %}
                  <div class="form-group form-inline">
                      <label for="exampleInputEmail1">Search</label>
                      <input type="text" name="search" class="form-control form-control-lg" id="search" aria-describedby="emailHelp" placeholder="Enter query" style="border-radius: 0">
                    </div>
              </form>
            <div class="btn-group mr-2">
              <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Export</button>
              <div class="dropdown-menu" aria-labelledby="dropdown07">
                <!-- <a class="dropdown-item" href="#">Pdf</a> -->
                <a class="dropdown-item" href="{% url 'export_users_csv' %}">Xlsx</a>
                <!-- <a class="dropdown-item" href="#">Pptx</a> -->
              </div>
            </div>
            <!-- <button type="button" class="btn btn-outline-dark">Share</button> -->
            <!-- <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button> -->
          </div>
        </div>


        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="card" style="height: 100%;">
                <div class="card-body">
                  <h5 class="card-title text-center">Total Followers</h5>
                    <h4 id="total-followers" style="color: darkturquoise;" class="green-text card-content text-center">{{ total_followers }}</h4>
                </div>
              </div>
            </div>

                <div class="col-md-3">
                 <div class="card" style="height: 100%;"> 
                    <div class="card-body">
                      <h5 class="card-title text-center">Total Tweets</h5>
                      <h4 id="total-tweets" style="color: darkturquoise;" class="green-text card-content text-center">{{ total_tweets }}</h4>
                    </div>
                  </div>
                </div>

            <div class="col-md-3">
             <div class="card" style="height: 100%;">  
                <div class="card-body">
                  <h5 class="card-title text-center">Tweet Impressions</h5>
                    <h4 id="tweet_impressions" style="color: darkturquoise;" class="green-text card-content text-center">{{ tweet_impressions }}</h4>
                </div>
              </div>
            </div>

                <div class="col-md-3">
                  <div class="card" style="height: 100%;">
                    <div class="card-body">
                      <h5 class="card-title text-center">Total Mentions</h5>
                      <h4 id="total-mentions" style="color: darkturquoise;" class="green-text card-content text-center">{{ total_mentions }}</h4>
                    </div>
                  </div>
                </div>
          <br>

          <div class="container">
              <div class="row">
               
                    <div class="col-md-5">
                          <h5 class="text-center">Top Tweet</h5>
                          <div class="text-center">
                                  
                                    <h4 class="card-text">Tweet: {{ top_tweets.text }}</small>                                  </h4>
                                    <p class="card-text">Likes: {{ top_tweets.favorite_count }}</p>
                                    <p class="card-text">Retweets: {{ top_tweets.retweet_count }}</p>
                                    <p class="card-text">Device: {{ top_tweets.source }}</p>
                                    <p class="card-text">Time: {{ top_tweets.created_at }}</p>
                                    <p class="card-text">Users: {{ top_tweets.user_mentions }}</p>
                          </div>
                    </div>

                    <div class="col-md-7">
                          <h5 class="text-center">Top Follower</h5>
                         
                            <div class="card bg-dark text-white" style="height: 40%; width:100%">
                              <img class="card-img" src="{{ top_follower.profile_banner_url }}" alt="top follower banner image">
                            </div>
                            <div class="row" style="width:15%">
                                <img align="left" style="border-radius: 50%" class="card-img-bottom" src='{{ top_follower.profile_image_url_https }}' alt="Profile image example"/>
                            </div>                        
                              <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">
                                        <h1> {{ top_follower.name }}</h1> <small>@{{ top_follower.screen_name }}</small> 
                                        <p>{{ top_follower.description }}</p>                                    
                                    </h4>
                                    <p class="card-text">Verified: {{ top_follower.verified }}</p>
                                    <p class="card-text">Location: {{ top_follower.location }}</p>
                                    <p class="card-text">Number of Followers: {{ top_follower.followers_count }}</p>
                                    <p class="card-text">Number of Friends: {{ top_follower.friends_count }}</p>
                                </div>
                            </div>
                       
                      </div>
    
                    </div>
              <br>
              <br>
              <br>
        <div class="container">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                
                  <h5 class="text-center">Top Mention</h5>
                  <div class="text-center">
                      <p class="card-text">{{ top_mention.text }}</p>
                      <p class="card-text">{{ top_mention.favorite_count }}</p> 
                      <p class="card-text">{{ top_mention.retweet_count }} </p>
                      <p class="card-text">{{ top_mention.source }} </p>
                      <p class="card-text">{{ top_mention.created_at }} </p>
                      <p class="card-text">{{ top_mention.user_mentions }} </p>
                      <p class="card-text">{{ top_mention.user.screen_name }}</p>
                      <p class="card-text">{{ top_mention.user.location }}</p>
              
              </div>
            </div>
            <div class="col-md-3"></div>

      </main>
    </div>
  </div>


{% endblock %}
{% block scripts  %}
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    feather.replace()
  </script>




  <!-- Graphs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var data = [{% for follower in followers_count %} "{{follower.count}}", {% endfor %}]
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for follower in followers_count %} "{{follower.day}}", {% endfor %} ],
    datasets: [{
      label: 'Number of Followers',
      data: data,
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
    }]
           },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
         });
  </script>

  <script>
    var ctx = document.getElementById("mChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for dates in tweet_dates %} "{{ dates }}", {% endfor %} ],
        datasets: [{
          label: 'Tweet Impressions',
          data: [{% for impression in impressions %} "{{ impression }}", {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

  <script>
    var ctx = document.getElementById("tpChart").getContext('2d');
    var tpChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Jan5", "Jan12", "Jan19", "Jan26", "Feb2", "Feb9"],
        datasets: [{
          label: 'Link Click',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("tChart").getContext('2d');
    var tChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Jan5", "Jan12", "Jan19", "Jan26", "Feb2", "Feb9"],
        datasets: [{
          label: 'Post Replies',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("meeChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'radar',
      data: {
        labels: [{% for day in retweet_days %} "{{ day }}", {% endfor %}],
        datasets: [{
          label: 'Retweets',
          data: [{% for count in retweet_counts %} "{{ count }}", {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>



  <script type="text/javascript">
    var ctx = document.getElementById("peeChart").getContext('2d');
    var pChart = new Chart(ctx, {
      type: 'polarArea',
      data: {
        labels: [{% for day in like_days %} "{{ day }}", {% endfor %}],
        datasets: [{
          label: 'Post Like',
          data: [{% for count in like_count %} "{{ count }}", {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

  <script>
    var ctx = document.getElementById("lChart");
    var lChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        datasets: [{
          data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
  </script>

  <script>
    var ctx = document.getElementById("zChart");
    var lChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for dates in tweet_dates %} "{{ dates }}", {% endfor %} ],
        datasets: [{
          data: [{% for engagement in engagements %} "{{ engagement }}", {% endfor %} ],
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("zeChart");
    var lChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Jan5", "Jan12", "Jan19", "Jan26", "Feb2", "Feb9"],
        datasets: [{
          label: 'Mentions',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

  <script>
    var ctx = document.getElementById("Chart").getContext('2d');
    var data = ["Abuja", "Lagos", "Ibadan", "Kano", "Kaduna", "Ilorin", "Bauchi", "London"]
    var Chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: data,
        datasets: [{
          label: 'Location of Followers',
          data: [
             {{ followers_location.abuja }},
             {{ followers_location.lagos }}, 
              {{ followers_location.ibadan }},
    {{ followers_location.kano }},
    {{ followers_location.kaduna }},
    {{ followers_location.ilorin }},
    {{ followers_location.bauchi }},
           {{ followers_location.london }}
              ],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)'
    ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
        borderWidth: 1
         }]
       },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
     });
  </script>



{% endblock %}
</body>

</html>