{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Icons -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    

    <title>Savant Social Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Custom CSS-->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

  </head>

  <body style="background-color: #fff;" >
    <p class="h1  text-center mt-5 mb-5">
      Here's what is trending from Nigeria
    </p>

    <div class="container container-fluid" style="font-size: 1.5rem;">
        
      <div class="row">
            {% for item in trends %}
                <div class="col-12 col-md-4">
                        <p class=" text-danger">{{ item.name }}</p>
                        <p style="margin-top: -8%">{{ item.tweet_volume }} tweets</p>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
            {% endfor %}
      </div>
    </div>











            <script src="https://code.jquery.com/jquery-3WS.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            
  
  


            <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>



            
            <script type="text/javascript">
    $(window).on('load',function(){      
    (function worker() {
      $.ajax({
        url: '{% url "stream_twitter" %}', 
        success: function(data) {
          console.log(data)
          object = document.getElementById('mention-count');
          object.innerHTML = data.data.length
        },
        error: function(){
          setTimeout(worker, 10000);
        },
        complete: function() {
          // Schedule the next request when the current one's complete
          setTimeout(worker, 10000);
        }
      });
    })();
  });
  </script> 
           
        
    </body>
</html>   
