{% extends '../header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <title>{% block title %} Search Results - {{ main_user.name }} {% endblock %}</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link href="{% static "css/charts.css" %}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
</head>
<style>
        .navbar{
            height: 8%;   
        }
        </style>
<body>
    {% block pagecontent %}

<div class="row container wow">
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible col-md-6" style="margin:auto;">
      <a href="#" class="close" data-dismiss="alert" aria-label="Close">
        &times;
      </a>
      {{ message }}
    </div>
  {% endfor %}
  
  {% if main_user %}
    <i class="fa fa-user-circle fa-5x"></i>
   <div class="col-md-6 gt">
     <img style="width: 80px; height: 80px; border-radius:500px" src="{{ main_user.profile_image_url }}"/>
 
        <h5 id="topsection"> {{ main_user.name }} <i class="fa fa-check-circle"></i></h5>
        <p class="word">{{ main_user.description }}</p>

   </div>
   {% endif %}
   <form class="form-inline" method="POST" action="{% url 'search-twitter' %}">
      {% csrf_token %}
      <div class="form-group form-inline">
          <label for="exampleInputEmail1">Search</label>
          <input type="text" name="search" class="form-control form-control-lg" id="search" aria-describedby="emailHelp" placeholder="Brand name" style="border-radius: 0">
        </div>
  </form>
</div><hr>

<div class="container-fluid">
     
    {% if main_user %}
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                    <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01" >
                  <h5 class="card-title text-center"><i class="fa fa-user-plus" style="color:#4F4F4F"></i>  {{ main_user.followers_count }}  Followers</h5>

                  {% comment %} <canvas class="my-4" id="lChart" width="900" height="500"></canvas> {% endcomment %}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                    <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01" >
                  <h5 class="card-title text-center"><i class="fa fa-heart" style="color:#4F4F4F"></i> {{ main_user.favourites_count }} Following</h5>

                  {% comment %} <canvas class="my-4" id="Chart" width="900" height="500"></canvas> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        
        <br>

        
         <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                  <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01" > 
                <h5 class="card-title text-center"> <i class="fa fa-comment" style="color:#4F4F4F"></i>
                  {% if main_user.verified %}
                   VERIFIED ACCOUNT
                    {% else %}
                    UNVERIFIED ACCOUNT
                    {% endif %}
                  </h5>

                {% comment %} <canvas class="my-4" id="pChart" width="900" height="500"></canvas> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                  <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01" >
                <h5 class="card-title text-center"><i class="fa fa-share" style="color:#4F4F4F"></i> {{ main_user.listed_count }} Lists</h5>

                {% comment %} <canvas class="my-4" id="peeChart" width="900" height="500"></canvas> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div><br><br><br>

      <!-- Twitter Survey -->

     <div class="row">
      <div class="col-md-1"></div>
      <span class="input-group-btn">
          <button type="button" data-toggle="modal" data-target="#trackModal" class="btn btn-lg btn-success"><img src="{% static 'img/analysis.svg' %}" width="25" height="25"> Track This Brand</button>
      </span><hr>
     </div>
      <!-- Modal -->
<div id="trackModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center" id="image-gallery-title" style="align:center; margin:auto;">AUTO PILOT</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
      <div class="modal-body">
        <div class="row">
         <div class="col-md-6 col-lg-6 col-sm-12">
            <img id="image-gallery-image" class="img-responsive" style="width: 40%; height: 40%; margin:auto; display: block;" src="{% static 'img/autopilot.svg' %}">
            <p class="word text-center" style="margin:auto; font-size:18px;"> Let us automatically track and analyse the social presence of <strong>{{ main_user.name }}</strong></p>
         </div>
         <div class="col-md-6 col-lg-6 col-sm-12">
            <form class="form-horizontal" action="{% url 'accounts:add-competitor-twitter' %}" method="POST">
                {% csrf_token %}
                {% for field in competitor_form %}
                        {{ field|add_class:'form-control' }}
                {% endfor %}
                <button type="submit" class="btn btn-primary"> Track Brand! </button>
            </form>
         </div>
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, Thank You!!!</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->

 
</div>
 <div class="container">
  <h3>SIMILAR BRANDS</h3>

  <div class="table-responsive">
      <table class="table table-bordered" style="font-size: 0.9rem">
          <thead height="30px" style="background-color: black;">
            <tr style="height: 30px; font-color:white;">
              <td style="font-color: white;" class="font-weight-bold text-center oll"><span style="font-color:white;  font-weight-bold">S/N</span></td>
              <td style="font-color: white; text" class="font-weight-bold text-center oll"><span style="font-color:white; font-weight-bold">HANDLES</span></td>
              <td style="font-color: white;" class="font-weight-bold text-center oll"><span style="font-color:white; font-weight-bold">BIO</span></td>
              <td style="font-color: white;" class="font-weight-bold text-center oll"><span style="font-color:white; font-weight-bold">ADDRESS</span></td>
              <td style="font-color: white;" class="font-weight-bold text-center oll"><span style="font-color:white; font-weight-bold">FOLLOWERS</span></td>
              <td style="font-color: white;" class="font-weight-bold text-center oll"><span style="font-color:white; font-weight-bold">ANALYSIS</span></td>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr>
                <td class="text-center table-active">{{ result.id_str }}</td>
                <td class="font-weight-bold  table-active"> {{ result.name }} {% if result.verified %}<i class="fa fa-check-circle"></i>{% else %} <i></i> {% endif %} </td>
                <td class="text-center text-muted table-active">{{ result.description }}</a></td>
                <td class="text-center text-muted table-active">{{ result.location }}</td>
                <td class="text-center text-muted table-active">{{ result.followers_count }}</td>
                <td class=" text-center text-muted table-active"><a data-toggle="modal" data-target="#{{result.id_str}}"><img src="{{ result.profile_image_url }}" width="25" height="25" class=" mt-2 " ></a>
                                <!-- Modal -->
                  <div id="{{ result.id_str }}" class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center" id="image-gallery-title" style="align:center; margin:auto;">Analysis</h4>
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            </div>
                          <div class="modal-body">
                              <img style="width: 80px; height: 80px; border-radius:500px" src="{{ result.profile_image_url }}"/>
                              <div class="card">
                                  <div class="card-body">
                                      <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01" >
                                    <h5 class="card-title text-center"><i class="fa fa-user-plus" style="color:#4F4F4F"></i>  {{ result.followers_count }}  Followers</h5>

                                    {% comment %} <canvas class="my-4" id="lChart" width="900" height="500"></canvas> {% endcomment %}
                                  </div>
                                </div> 
                                
                                <div class="card">
                                    <div class="card-body">
                                        <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01" >
                                      <h5 class="card-title text-center"><i class="fa fa-heart" style="color:#4F4F4F"></i> {{ result.favourites_count }} Following</h5>
                    
                                      {% comment %} <canvas class="my-4" id="Chart" width="900" height="500"></canvas> {% endcomment %}
                                    </div>
                                  </div>

                                  <div class="card">
                                      <div class="card-body">
                                          <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01" >
                                        <h5 class="card-title text-center"><i class="fa fa-share" style="color:#4F4F4F"></i> {{ result.listed_count }} Lists</h5>
                        
                                        {% comment %} <canvas class="my-4" id="peeChart" width="900" height="500"></canvas> {% endcomment %}
                                      </div>
                                    </div>

                              </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                    
                      </div>
                    </div>
                    
                    <!-- Modal -->
                  </td>
              </tr>
            {% endfor %}
           
          </tbody>
        </table>
        <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort results by
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">Handle</a>
                  <a class="dropdown-item" href="#">Followers</a>
                </div>
              </div>
       
       

        <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
        <button class="btn btn-button btn-success text-right float-right" style="border-radius: 0 ; margin-top:-50px;">Export Results</button>
      </div>
      {% else %}

        <img style="margin:auto; text-align:center; 
        display:inline-block;    
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        " src= {% static 'img/microscope.png' %}

      {% endif %}
 </div>

{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block scripts %}

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

     
  <script type="text/javascript">
    $(window).on('load',function(){      
    (function worker() {
      $.ajax({
        url: '{% url "stream_twitter" %}', 
        success: function(data) {
          console.log(data)
          object = document.getElementById('mention-count');
          object.innerHTML = data.data
        },
        error: function(){
          setTimeout(worker, 10000);
        },
        complete: function() {
          // Schedule the next request when the current one's complete
          setTimeout(worker, 10000);
        }
      });
    })();
  });
  </script>

      <script>
        feather.replace()
      </script>

       <!-- Graphs -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

       <script
       src="https://code.jquery.com/jquery-3.3.1.js"
       integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
       crossorigin="anonymous"></script>
         
       <script>
          $(window).on('load',function(){
            setTimeout(function(){ $('#trackModal').modal('show'); }, 3000);
        });
            var ctx = document.getElementById("peeChart");
            var lChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                  data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                  lineTension: 0,
                  backgroundColor: 'transparent',
                  borderColor: '#007bff',
                  borderWidth: 4,
                  pointBackgroundColor: '#007bff'
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: false
                    }
                  }]
                },
                legend: {
                  display: false,
                }
              }
            });
          </script>
 
 <script type="text/javascript">
    var ctx = document.getElementById("pChart").getContext('2d');
    var pChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Male','Female'],
        datasets: [{
          label: 'Percentage of followers',
          data: [60, 40],
          backgroundColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)'
          ],
          borderColor: [
          'rgba(255,99,132,2)',
          'rgba(54, 162, 235, 2)'
          ],
          borderWidth: 1        
        }],
      }



    });
  </script>
 
       <script>
           var ctx = document.getElementById("lChart");
           var lChart = new Chart(ctx, {
             type: 'line',
             data: {
               labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
               datasets: [{
                 data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                 lineTension: 0,
                 backgroundColor: 'transparent',
                 borderColor: '#007bff',
                 borderWidth: 4,
                 pointBackgroundColor: '#007bff'
               }]
             },
             options: {
               scales: {
                 yAxes: [{
                   ticks: {
                     beginAtZero: false
                   }
                 }]
               },
               legend: {
                 display: false,
               }
             }
           });
         </script>
 
 
 <script>
     var ctx = document.getElementById("Chart").getContext('2d');
     var data = ["Abuja", "Lagos", "Ibadan", "Kano", "Kaduna", "Ilorin", "Bauchi", "London"]
     var Chart = new Chart(ctx, {
       type: 'bar',
       data: {
         labels: data,
         datasets: [{
          label: 'Location of Followers',
          data: [
             {{ followers_location.abuja }},
             {{ followers_location.lagos }}, 
              {{ followers_location.ibadan }},
    {{ followers_location.kano }},
    {{ followers_location.kaduna }},
    {{ followers_location.ilorin }},
    {{ followers_location.bauchi }},
           {{ followers_location.london }}
              ],
           backgroundColor: [
           'rgba(255, 99, 132, 0.2)',
           'rgba(54, 162, 235, 0.2)',
           'rgba(255, 206, 86, 0.2)',
           'rgba(75, 192, 192, 0.2)',
           'rgba(153, 102, 255, 0.2)',
           'rgba(255, 159, 64, 0.2)'
           ],
           borderColor: [
           'rgba(255,99,132,1)',
           'rgba(54, 162, 235, 1)',
           'rgba(255, 206, 86, 1)',
           'rgba(75, 192, 192, 1)',
           'rgba(153, 102, 255, 1)',
           'rgba(255, 159, 64, 1)'
           ],
           borderWidth: 1
         }]
       },
       options: {
         scales: {
           yAxes: [{
             ticks: {
               beginAtZero:true
             }
           }]
         }
       }
     });
   </script>


 


{% endblock %}
    </body>
    </html>
