{% extends '../header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">

<head>
  <title>{% block title %} Dashboard {% endblock %}</title>
</head>

<body>
  {% block pagecontent %}
  {% include '../sidebar.html' %}
  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Twitter Overview</h1>
          <span class="input-group-btn">
              <button type="button" data-toggle="modal" data-target="#trackModal" class="btn btn-sm btn-success"><img src="{% static 'img/Twitter-icon.png' %}" width="25" height="25"> Post/Schedule a Tweet</button>
          </span>

                          <!-- Modal -->
          <div id="trackModal" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="image-gallery-title" style="align:center; margin:auto;">AUTO PILOT</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    </div>
                  <div class="modal-body">
                    <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <img id="image-gallery-image" class="img-responsive" style="width: 40%; height: 40%; margin:auto; display: block;" src="{% static 'img/autopilot.svg' %}">
                        <p class="word text-center" style="margin:auto; font-size:18px;">Post a Tweet or Schedule it for later <strong>(Time is an hour behind depending on your timezone)</strong></p>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <form method="POST" class="post-form" action="{% url 'post-tweets' %}" enctype="multipart/form-data">
                          {% csrf_token %}
                          {% for field in post_form %}
                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                          {% endfor %}
                          <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    </div>
                    </div>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No, Thank You!!!</button>
                  </div>
                </div>
            
              </div>
            </div>
            
            <!-- Modal -->
            

          <div class="btn-toolbar mb-2 mb-md-0">
              <form class="form-inline" method="POST" action="{% url 'search-twitter' %}">
                  {% csrf_token %}
                  <div class="form-group form-inline">
                      <label for="exampleInputEmail1">Search</label>
                      <input type="text" name="search" class="form-control form-control-lg" id="search" aria-describedby="emailHelp" placeholder="Enter query" style="border-radius: 0">
                    </div>
              </form>
            <div class="btn-group mr-2">
              <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Export</button>
              <div class="dropdown-menu" aria-labelledby="dropdown07">
                <!-- <a class="dropdown-item" href="#">Pdf</a> -->
                <a class="dropdown-item" href="{% url 'export_users_csv' %}">Xlsx</a>
                <!-- <a class="dropdown-item" href="#">Pptx</a> -->
              </div>
            </div>
            <!-- <button type="button" class="btn btn-outline-dark">Share</button> -->
            <!-- <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button> -->
          </div>
        </div>


        <div class="container">
          <div class="row">
            <div class="col-md-6">
                <div class="card animated pulse">
                    <div class="card-body animated pulse">
                  <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01">
                  <h5 class="card-title text-center">Total Followers</h5>
                    <h5 id="cur-followers-counter" class="card-content text-center">{{ current_followers }}</h5>
                </div>
              </div>
            </div>

                <div class="col-md-6">
                    <div class="card animated pulse">
                        <div class="card-body animated pulse">
                      <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01">
                      <h5 class="card-title text-center">Total Retrieved Followers</h5>
                      <h5 id="ret-followers-counter" class="card-content text-center">{{ retrieved_followers }}</h5>
                    </div>
                  </div>
                </div>
          <br>

          <div class="container">
              <div class="row">
                <div class="col-md-6">
                    <div class="card animated pulse">
                        <div class="card-body animated pulse">
                      <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01">
                      <h5 class="card-title text-center">Growth of Followers</h5>
                      <canvas class="my-4" id="myChart" width="900" height="500"></canvas>
                    </div>
                  </div>
                </div>
    
                    <div class="col-md-6">
                        <div class="card animated pulse">
                            <div class="card-body animated pulse">
                          <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01">
                          <h5 class="card-title text-center">Location of Followers</h5>
        
                          <canvas class="my-4" id="Chart" width="900" height="500"></canvas>
                        </div>
                      </div>
                    </div>
              <br>

        <div class="container">
          <div class="row">
            <div class="col-md-6">
                <div class="card animated pulse">
                    <div class="card-body animated pulse">
                  <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01">
                  <h5 class="card-title text-center">Tweet Impressions</h5>

                  <canvas class="my-4" id="mChart" width="900" height="500"></canvas>
                </div>
              </div>
            </div>


            <div class="col-md-6">
                <div class="card animated pulse">
                    <div class="card-body animated pulse">
                  <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01">
                  <h5 class="card-title text-center">Tweets Engagement</h5>

                  <canvas class="my-4" id="zChart" width="900" height="500"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="container">
          <div class="row">
            <div class="col-md-6">
                <div class="card animated pulse">
                    <div class="card-body animated pulse">
                  <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01">
                  <h5 class="card-title text-center">Post Retweets</h5>

                  <canvas class="my-4" id="meeChart" width="900" height="500"></canvas>
                </div>
              </div>
            </div>

            <div class="col-md-6">
                <div class="card animated pulse">
                    <div class="card-body animated pulse">
                  <img src="{% static 'img/twitter.svg' %}" alt="" srcset="" height="20px" class="img-01">
                  <h5 class="card-title text-center">Post Likes</h5>

                  <canvas class="my-4" id="peeChart" width="900" height="500"></canvas>
                </div>
              </div>
            </div>
          </div>
          <br>

      </main>
    </div>
  </div>



{% block scripts  %}
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    feather.replace()
  </script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  
  <script type="text/javascript">
    $(window).on('load',function(){      
    (function worker() {
      $.ajax({
        url: '{% url "stream_twitter" %}', 
        success: function(data) {
          console.log(data)
          object = document.getElementById('mention-count');
          object.innerHTML = data.data
        },
        error: function(){
          setTimeout(worker, 60000);
        },
        complete: function() {
          // Schedule the next request when the current one's complete
          setTimeout(worker, 60000);
        }
      });
    })();
  });
  </script>


  
  <script type='text/javascript'>
    function animateValue(id, start, end, duration) {
      // assumes integer values for start and end
  
      var obj = document.getElementById(id);
      var range = end - start;
      // no timer shorter than 50ms (not really visible any way)
      var minTimer = 50;
      // calc step time to show all interediate values
      var stepTime = Math.abs(Math.floor(duration / range));
  
      // never go below minTimer
      stepTime = Math.max(stepTime, minTimer);
  
      // get current time and calculate desired end time
      var startTime = new Date().getTime();
      var endTime = startTime + duration;
      var timer;
  
      function run() {
          var now = new Date().getTime();
          var remaining = Math.max((endTime - now) / duration, 0);
          var value = Math.round(end - (remaining * range));
          obj.innerHTML = value;
          if (value == end) {
              clearInterval(timer);
          }
      }
  
      var timer = setInterval(run, stepTime);
      run();
  }


  $(window).on('load',function(){
    var start = 0;
    var endcur = {{ current_followers }};
    var endret = {{ retrieved_followers }};
    console.log(endret, endcur);

    animateValue('cur-followers-counter', start, endcur, 3000);
    animateValue('ret-followers-counter', start, endret, 3000);

  });

  
  </script>


  <!-- Graphs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var data = [{% for follower in followers_count %} "{{follower.count}}", {% endfor %}]
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for follower in followers_count %} "{{follower.day}}", {% endfor %} ],
    datasets: [{
      label: 'Number of Followers',
      data: data,
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
    }]
           },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
         });
  </script>

  <script>
    var ctx = document.getElementById("mChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for dates in tweet_dates %} "{{ dates }}", {% endfor %} ],
        datasets: [{
          label: 'Tweet Impressions',
          data: [{% for impression in impressions %} "{{ impression }}", {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

  <script>
    var ctx = document.getElementById("tpChart").getContext('2d');
    var tpChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Jan5", "Jan12", "Jan19", "Jan26", "Feb2", "Feb9"],
        datasets: [{
          label: 'Link Click',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("tChart").getContext('2d');
    var tChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Jan5", "Jan12", "Jan19", "Jan26", "Feb2", "Feb9"],
        datasets: [{
          label: 'Post Replies',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("meeChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'radar',
      data: {
        labels: [{% for day in retweet_days %} "{{ day }}", {% endfor %}],
        datasets: [{
          label: 'Retweets',
          data: [{% for count in retweet_counts %} "{{ count }}", {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>



  <script type="text/javascript">
    var ctx = document.getElementById("peeChart").getContext('2d');
    var pChart = new Chart(ctx, {
      type: 'polarArea',
      data: {
        labels: [{% for day in like_days %} "{{ day }}", {% endfor %}],
        datasets: [{
          label: 'Post Like',
          data: [{% for count in like_count %} "{{ count }}", {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

  <script>
    var ctx = document.getElementById("lChart");
    var lChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        datasets: [{
          data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
  </script>

  <script>
    var ctx = document.getElementById("zChart");
    var lChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for dates in tweet_dates %} "{{ dates }}", {% endfor %} ],
        datasets: [{
          data: [{% for engagement in engagements %} "{{ engagement }}", {% endfor %} ],
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
  </script>
  <script>
    var ctx = document.getElementById("zeChart");
    var lChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Jan5", "Jan12", "Jan19", "Jan26", "Feb2", "Feb9"],
        datasets: [{
          label: 'Mentions',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

  <script>
    var ctx = document.getElementById("Chart").getContext('2d');
    var data = ["Abuja", "Lagos", "Ibadan", "Kano", "Kaduna", "Ilorin", "Bauchi", "London"]
    var Chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: data,
        datasets: [{
          label: 'Location of Followers',
          data: [
             {{ followers_location.abuja }},
             {{ followers_location.lagos }}, 
              {{ followers_location.ibadan }},
    {{ followers_location.kano }},
    {{ followers_location.kaduna }},
    {{ followers_location.ilorin }},
    {{ followers_location.bauchi }},
           {{ followers_location.london }}
              ],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)'
    ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
        borderWidth: 1
         }]
       },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
     });
  </script>



{% endblock scripts %}
{% endblock pagecontent %}
</body>

</html>