{% extends '../header.html' %} 
{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <title>{% block title %} Dashboard {% endblock %}</title>
  </head>

  <body >
      {% block pagecontent %}
  <!-- MODAL DONT EDIT CODE ABOVE THIS -->


  <!-- [ Modal #2 ] -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
      <div class="modal-content" style="border-radius: 0px;">
        <div class="modal-body" style="height: 700px"> 
          <div class="row">
            <div class="col-12 col-md-4 sidebar2" style="height: 700px">          
              <P style="color:#828282;">ADD SOCIAL MEDIA HANDLES</P>
              <a class="nav-link  btn bg-transparent text-dark " href="#" style="color: #000 %;"  data-toggle="modal" data-target="#myModal" data-dismiss="modal">
                    <i class="fa fa-user-circle fa-fw"></i>
                    Connect your profile<span class="sr-only">(current)</span>
                  </a>

                  <a  class=" btn nav-link  btn-active" href="del.html" style="color: #ff6600; "  data-toggle="modal" data-target="#demo-1" data-dismiss="modal">
                        <i class="fa fa-trash-o fa-fw"></i>
                        Delete your profile<span class="sr-only">(current)</span>
                  </a>

            </div>
            <div class="col-12 col-md-8">
              <h2 class="text-left fi" style="padding-top: 5%; font-size: 2.5rem; font-weight: 400;">Delete Your Profiles</h2>
              <p class="qwe">Delete any of your social profiles to stop monitoring your performance and viewing analytics</p>
              <!-- table -->
              <div class="table-responsive">
                <caption class="h1">Facebook</caption>
                <table class="table table-bordered table-hover table-sm" style="font-size: 0.7rem">
                  <tbody>
                    <tr class="table-active">
                      <th scope="row">
                        <input type="checkbox">
                      </th>
                      <td class="font-weight-bold text-center">Name</td>
                      <td class="font-weight-bold text-center">Total Number of Followers</td>
                      <td class="font-weight-bold text-center">Major Location of Followers</td>
                      <td class="font-weight-bold text-center">Total Number of Mentions</td>
                      <td class="font-weight-bold text-center">Total Number of Organic Followers</td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <input type="checkbox">
                      </th>
                      <td class="font-weight-bold text-center">Jaiz Bank Plc </td>
                      <td class="font-weight-bold text-center">43,000</td>
                      <td class="font-weight-bold text-center">Abuja</td>
                      <td class="font-weight-bold text-center">+6000</td>
                      <td class="font-weight-bold text-center">39,000</td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <input type="checkbox">
                      </th>
                      <td class="font-weight-bold text-center">Jaiz Help desk</td>
                      <td class="font-weight-bold text-center">25,000</td>
                      <td class="font-weight-bold text-center">LAgos</td>
                      <td class="font-weight-bold text-center">+2000</td>
                      <td class="font-weight-bold text-center">19,000</td>
                    </tr>
                  </tbody>
                </table>
                <button class="btn btn-button btn-danger text-right float-right" style="border-radius: 0">Delete</button>
              </div>


              <div class="table-responsive">
                <caption class="h1">Twitter</caption>
                <table class="table table-bordered table-hover table-sm" style="font-size: 0.7rem">
                  <tbody>
                    <tr class="table-active">
                      <th scope="row">
                        <input type="checkbox">
                      </th>
                      <td class="font-weight-bold text-center">Name</td>
                      <td class="font-weight-bold text-center">Total Number of Followers</td>
                      <td class="font-weight-bold text-center">Major Location of Followers</td>
                      <td class="font-weight-bold text-center">Total Number of Mentions</td>
                      <td class="font-weight-bold text-center">Total Number of Organic Followers</td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <input type="checkbox">
                      </th>
                      <td class="font-weight-bold text-center">Jaiz Bank Plc </td>
                      <td class="font-weight-bold text-center">43,000</td>
                      <td class="font-weight-bold text-center">Abuja</td>
                      <td class="font-weight-bold text-center">+6000</td>
                      <td class="font-weight-bold text-center">39,000</td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <input type="checkbox">
                      </th>
                      <td class="font-weight-bold text-center">Jaiz Help desk</td>
                      <td class="font-weight-bold text-center">25,000</td>
                      <td class="font-weight-bold text-center">LAgos</td>
                      <td class="font-weight-bold text-center">+2000</td>
                      <td class="font-weight-bold text-center">19,000</td>
                    </tr>
                  </tbody>
                </table>
                <button class="btn btn-button btn-danger text-right float-right" style="border-radius: 0">Delete</button>
              </div>


              <div class="table-responsive">
                <caption class="h1">Instagram</caption>
                <table class="table table-bordered table-hover table-sm" style="font-size: 0.7rem">
                  <tbody>
                    <tr class="table-active">
                      <th scope="row">
                        <input type="checkbox">
                      </th>
                      <td class="font-weight-bold text-center">Name</td>
                      <td class="font-weight-bold text-center">Total Number of Followers</td>
                      <td class="font-weight-bold text-center">Major Location of Followers</td>
                      <td class="font-weight-bold text-center">Total Number of Mentions</td>
                      <td class="font-weight-bold text-center">Total Number of Organic Followers</td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <input type="checkbox">
                      </th>
                      <td class="font-weight-bold text-center">Jaiz Bank Plc </td>
                      <td class="font-weight-bold text-center">43,000</td>
                      <td class="font-weight-bold text-center">Abuja</td>
                      <td class="font-weight-bold text-center">+6000</td>
                      <td class="font-weight-bold text-center">39,000</td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <input type="checkbox">
                      </th>
                      <td class="font-weight-bold text-center">Jaiz Help desk</td>
                      <td class="font-weight-bold text-center">25,000</td>
                      <td class="font-weight-bold text-center">LAgos</td>
                      <td class="font-weight-bold text-center">+2000</td>
                      <td class="font-weight-bold text-center">19,000</td>
                    </tr>
                  </tbody>
                </table>
                <button class="btn btn-button btn-danger text-right float-right" style="border-radius: 0">Delete</button>
              </div>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL DONT EDIT CODE ABOVE THIS -->

    
       
            <main role="main" class="ml-5 mr-5 pt-4 px-4 "><br><br>
              <div class="row">
                  {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible" style="margin:auto;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                        &times;
                      </a>
                      {{ message }}
                    </div>
                  {% endfor %}
                  {% endif %}
                </div>

                <div class="text-center">
                        <h5>Hi {{ user.first_name }},Would you like to monitor ?</h5>
                        <p class="text-muted"></p>
                    </div>
                    <div class="card-deck text-center" >
                        <div class="card" style="border-radius: 0;"><br>
                            <img src="{% static 'img/web-analytics (1).svg' %}" width="700"  class="img-fluid" style=" margin-top:-1.5em;">
                            <div class="card-body">
                                <h5 class="card-title">My Company</h5>
                                <p class="card-text text-muted">Monitor your brand or<br> product's online presence.</p><br><br>
                                <button class="btn btn-sm btn-outline-success" data-toggle="modal" type="button" data-target="#myModal"> Start</button>
                            </div>
                        </div>
                          <!-- The Modal -->
<div class="modal fade" id="myModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content" style="border-radius: 0px;">

      
            <!-- Modal body -->
      

           <div class="modal-body" style="height: 600px">
            <div class="row ">  
                <div class="col-12 col-md-4 sidebar2" style="height: 600px">
                      <P style="color:#828282;">ADD SOCIAL MEDIA HANDLES</P><br>
                      <a class="nav-link btn btn-active" href="#" style="color: #ff6600; margin-top: -5%;" onclick="">
                            <i class="fa fa-user-circle fa-fw"></i>
                            Connect your profile<span class="sr-only">(current)</span>
                          </a>
                          <a class="nav-link btn bg-transparent" href="#" style="color: #000" onclick=""  data-toggle="modal" data-target="#exampleModalLong" data-dismiss="modal">
                            <i class="fa fa-trash-o fa-fw"></i>
                            Delete your profile<span class="sr-only">(current)</span>
                          </a>

                          
                </div>
                <div class="col-12 col-md-8">
                    <h2 class="text-left fi" style="padding-top: 5%; font-size: 2.5rem; font-weight: 400;">Connect Your Profile</h2>
                    <p class="qwe">Connect any of your social profiles to start monitoring your performance and viewing analytics</p>
                    
                        <div class="row push">
                            <div class=" col-12 col-sm-4 face-div">
                                    <div class="card first-card" style="width: 9rem; height: 9rem;">
                                            <!-- <img class="card-img-top " src="img/facebook-logo.png" alt="Card image cap"> -->
                                            <i class="fa fa-facebook fa-3x text-white"></i>
                                            <div class="card-body">
                                            <a href="{% url 'social:begin' 'facebook' %}" class="btn-connect-1">
                                              Connect
                                            </a>                          
                                            </div>
                                        </div>
                            </div>
                            <div class=" col-12 col-sm-4">
                                    <div class="card second-card" style="width: 9rem; height: 9rem;">
                                            <!-- <img class="card-img-top img-adjustable" src="img/twitter-logo.png" alt="Card image cap" width="25px;"> -->
                                             <i class="fa fa-twitter fa-3x text-white"></i>
                                            <div class="card-body">
                                            <a href="{% url 'social:begin' 'twitter' %}" class="btn-connect-2">
                                              Connect
                                            </a>                          
                                            </div>
                                        </div>
                            </div>

                                 <div class=" col-12 col-sm-4">
                                        <div class="card third-card" style="width: 9rem; height: 9rem;">
                                            <!-- <img class="card-img-top img-adjust" src="img/instagram-icon.png" alt="Card image cap"> -->
                                            <i class="fa fa-instagram fa-3x text-white"></i>
                                           <div class="card-body">
                                            <a href = {% url 'social:begin' 'instagram' %} class="btn-connect-3">Connect</a>                          
                                            </div>
                                        </div>
                       </div>  
                                  <div class=" col-12 col-sm-4">
                                    <div class="card third-card" style="width: 9rem; height: 9rem;">
                                        <!-- <img class="card-img-top img-adjust" src="img/instagram-icon.png" alt="Card image cap"> -->
                                        <i class="fa fa-google fa-3x text-white"></i>
                                      <div class="card-body">
                                        <a href = {% url 'social:begin' 'google-oauth2' %} class="btn-connect-3">Connect</a>                          
                                        </div>
                                    </div>
                      </div>           
                  </div>

                  <div class="row push text-center">
                   <div class="col-md-12 text-center">
                      <button style="font-color:white;" class="btn btn-primary"><a style="color: inherit;" href="{% url 'accounts:competitor-analytics' %}">Begin Analytics</a></button>
                   </div>
                  </div>
             </div> 
            </div>     
            </div> 
        <!-- End of first Modal -->
                  

      
          </div>
        </div>
      </div>
           

                        <div class="card" style="border-radius: 0;"><br>
                            <img src="{% static 'img/google-analytics-partners.svg' %}" width="700" class="img-fluid" style=" margin-top:-1.5em;">
                            <div class="card-body">
                                <h5 class="card-title">A competitor</h5>
                                <p class="card-text text-muted">Monitor your competitiors<br> online presence.</p><br><br>
                                
                                <a class="btn btn-sm btn-outline-success " href="{% url 'accounts:account-brand' %}">Start</a>
                            </div>
                        </div>
                       <div class="card" style="border-radius: 0; ">
                            <img src="{% static 'img/four-data-analytics-trends-CP.svg' %}" width="700" class=" img-fluid">
                            <div class="card-body">
                                <h5 class="card-title">Trends</h5>
                                <p class="card-text text-muted">Monitor trend topics on<br> social media</p><br><br>
                                <button class="btn btn-sm btn-outline-success" data-toggle="modal" type="button" data-target="#myModal-3"> Start</button>
                          
                            </div>
                        </div>




                        <div class="modal fade" id="myModal-3" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                  <div class="modal-content" style="border-radius: 0px; height: 500px">

                              
                                    <!-- Modal body -->
                              

                                   <div class="modal-body">
                                    <div class="row">  
                                        
                                        <div class="col-12 col-md-12">
                                            <h2 class="text-center fi" style="padding-top: 5%; font-size: 2.5rem; font-weight: 400;">Please Select a Platform</h2>
                                            <p class="qwe text-center mb-5">Select any of the social media platforms to start monintoring trending topics</p>
                                            
                                                <div class="row pl-5 mt-5 ml-5" style="width: 80%">
                                                    <div class=" col-12 col-sm-4 ">
                                                            <div class="card first-card" style="width: 9rem; height: 9rem;">
                                                                    <!-- <img class="card-img-top " src="img/facebook-logo.png" alt="Card image cap"> --><!-- <a href="loading.html"></a> -->
                                                                    <i class="fa fa-facebook fa-3x text-white"></i>
                                                                    <div class="card-body">
                                                                    
                                                                    <a href="results-facebook.html"><button class="btn-connect-1" style="cursor: pointer;">Connect</button></a>                          
                                                                    </div>
                                                                </div>
                                                    </div>
                                                    <div class=" col-12 col-sm-4">
                                                            <div class="card second-card" style="width: 9rem; height: 9rem;">
                                                                    <!-- <img class="card-img-top img-adjustable" src="img/twitter-logo.png" alt="Card image cap" width="25px;"> -->
                                                                     <i class="fa fa-twitter fa-3x text-white"></i>
                                                                    <div class="card-body">
                                                                      
                                                                    <a href="{% url 'trends-twitter' %}"><button class="btn-connect-2" style="cursor: pointer;">Connect</button></a>                 
                                                                    </div>
                                                                </div>
                                                    </div>

                                                         <div class=" col-12 col-sm-4">
                                                                <div class="card third-card" style="width: 9rem; height: 9rem;">
                                                                    <!-- <img class="card-img-top img-adjust" src="img/instagram-icon.png" alt="Card image cap"> -->
                                                                    <i class="fa fa-instagram fa-3x text-white"></i>
                                                                   <div class="card-body">
                                                                    <a href="results-Instagram.html"><button class="btn-connect-3" style="cursor: pointer;">Connect</button></a>                        
                                                                    </div>
                                                                </div>
                                        </div>            </div>


                                                </div> 
                                    </div>     
                                    </div> 

                    </div>
        
                  
                </main>
              </div>
            </div>
            {% endblock %}     
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
         <!--    
<script>
    $('.modal-switch-btn').click(function(){
            var prevPopup = $(this).attr("data-previouspopup-toggle");
            $(prevPopup).modal('show');
        });
</script> -->
{% block scripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            
{% endblock %}
  


    </body>
</html>   
