{% extends '../header.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Icons -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
      
        <title>Savant Social Dashboard</title>
      
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
        <!-- Custom CSS -->
        <!-- <link href="css/dashboard.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="{% static 'css/charts.css' %}">
      </head>
      
      <body>
        
        {% block pagecontent %}
          


                   
                            <div  style="margin: 0% 10%;">
                              <canvas class="my-4" id="myChart" width="200" height="55"></canvas>
                            </div>

                    <div  style="margin: 0% 10%;">
                        <h4 class="text-center">FILTER RESULT</h4>
                    
                    <div class="card  card-filter" style="width: 100%;">
                            <div class="card-body">
                              <div class="row">
                                    <div class=" col-12 col-md-6" style="border-right: 2px solid #dfdfdf">
                                        <h5 class="source text-center">Source</h5><br>
                                        <div class="row">
                                          <div class="col-12 col-md-6">
                                            <ul>
                                                <input type="checkbox" name="Facebook" value="Fb"> Facebook<br><br>
                                                <input type="checkbox" name="Twitter" value="Tw"> Twitter<br><br>
                                                <input type="checkbox" name="Instagram" value="In"> Instagram<br>
                                            </ul>
                                          </div>
                                          <div class=" col-12 col-md-6">
                                            
                                              <ul>
                                                  <input type="checkbox" name="Facebook" value="Fb"> Blogs<br><br>
                                                  <input type="checkbox" name="Twitter" value="Tw"> News<br><br>
                                                  <input type="checkbox" name="Instagram" value="In"> Web<br>
                                              </ul>
                                          </div>
                                        </div>    
                                     </div>

                                      <div class=" col-12 col-md-6">
                                         <h5 class="source text-center">Sentiments</h5><br>
                                         <ul>
                                                <input type="checkbox" name="Facebook" value="Fb"> Positive<br><br>
                                                <input type="checkbox" name="Twitter" value="Tw"> Negative<br><br>
                                                <input type="checkbox" name="Instagram" value="In"> Neutral<br>
                                         </ul>
                                         
                                         <a class="btn btn-sm btn-outline-success btn-reset" href="#">Reset Filter</a>

                                      </div>


                              </div>
                           
                            </div>
                          </div>
                      </div>
    {% endblock pagecontent %}
    
    {% block scripts %}
      
      

            <!-- </main>   -->
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script>
            feather.replace()
          </script>
    
           <!-- Graphs -->
           <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
           <script>
             var ctx = document.getElementById("myChart").getContext('2d');
             var myChart = new Chart(ctx, {
               type: 'bar',
               data: {
                 labels: [" ", " ", " ", " ", " ", " "],
                 datasets: [{
                   label: 'My First Dataset',
                   data: [12, 19, 3, 5, 2, 3],
                   backgroundColor: [
                   'rgba(255, 99, 132, 0.2)',
                   'rgba(54, 162, 235, 0.2)',
                   'rgba(255, 206, 86, 0.2)',
                   'rgba(75, 192, 192, 0.2)',
                   'rgba(153, 102, 255, 0.2)',
                   'rgba(255, 159, 64, 0.2)'
                   ],
                   borderColor: [
                   'rgba(255,99,132,1)',
                   'rgba(54, 162, 235, 1)',
                   'rgba(255, 206, 86, 1)',
                   'rgba(75, 192, 192, 1)',
                   'rgba(153, 102, 255, 1)',
                   'rgba(255, 159, 64, 1)'
                   ],
                   borderWidth: 1
                 }]
               },
               options: {
                 scales: {
                   yAxes: [{
                     ticks: {
                       beginAtZero:true
                     }
                   }]
                 }
               }
             });
           </script>
     

           {% endblock scripts %}
      </body>
</html>