{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/page1.css' %}">
</head>
<body>


    <div class="container-fluid">
        <div class="row">
           <div class="col-12 col-md-4 side-img " style="background-color: #f2f2f2; padding: 11.7% 0; height:700px;">
               <img src="{% static 'img/microscope.png' %}" class="img-fluid mt-auto " style="background-color: #f2f2f2;">
            </div>
            <div class="col-12 col-md-8 pt-5 pl-5">
                <p class="h2 mt-5">Search the brand you'll like to monitor</p>
                <div class="row">
                    <div class="col-9 col-md-9 mb-5">
                        <form class="form-horizontal" method="POST" action="{% url 'search-twitter' %}">
                            {% csrf_token %}
                            <div class="form-group mb-5">
                                <label for="exampleInputEmail1">Please enter a name of company or product</label>
                                <input type="text" name="search" class="form-control form-control-lg" id="search" aria-describedby="emailHelp" placeholder="Gtbank" style="border-radius: 0">
                            </div>
                            <a href="#" class="mt-5 pt-5">
                                    <button type="submit" class="btn btn-success mt-5" style="border-radius: 0">
                                        Search
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                            </a>
                        </form>
                    </div>
                    <div class="col-3 col-md-3 pt-3">
                        <i class="fa fa-check-circle fa-3x mt-3 text-success"></i>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


   

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>