{% extends "../header.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Icons -->
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
      
        <title>Savant Social Dashboard</title>
      
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
        <!-- Custom CSS -->
        <!-- <link href="css/dashboard.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="{% static "css/charts.css" %}">
      </head>
      <style>
          canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
          }
        </style>
      <body>
        {% block pagecontent %}
              
           <div role="main" class="col-md-11  pt-3 ml-5 " style="margin-top: 5em;">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2"></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                      <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
                      <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="#">Pdf</a>
                        <a class="dropdown-item" href="#">Xlsx</a>
                        <a class="dropdown-item" href="#">Pptx</a>
                      </div>
                  </div>
                  <button type="button" class="btn btn-outline-dark">Share</button>
                  <input type="date" value="thisweeks" class="btn btn-sm btn-outline-secondary">
                </div>
              </div>
            </div>
                   
                            <div  style="margin: 0% 10%;">
                                    <canvas class="my-4" id="lChart" width="200" height="55"></canvas>
                            </div>

                    
                        <div  style="margin: 0% 10%;">
                            <canvas class="my-4" id="pieChart" width="200" height="55"></canvas>
                    
                    </div>

            {% endblock pagecontent %}    
            {% block scripts %}
              
            <!-- </main>   -->
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script>
            feather.replace()
          </script>
    
           <!-- Graphs -->
           <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" integrity="sha256-JG6hsuMjFnQ2spWq0UiaDRJBaarzhFbUxiUTxQDA9Lk=" crossorigin="anonymous"></script>
           <script>
             var data = [{% for ana in analysis %} {{ana.value}}, {% endfor %} 0 ]
             var labels = [{% for ana in analysis %} "{{ana.decision}}", {% endfor %} "Neutral"]
           var ctx = document.getElementById("lChart");
           var lChart = new Chart(ctx, {
             type: 'bar',
             data: {
               labels: labels,
               datasets: [{
                label: 'Sentiment Analysis',
                data: data,
                type: 'line',
                pointRadius: 0,
                fill: false,
                lineTension: 2,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 2
               }]
             },
             options: {
               scales: {
                 xAxes: [{
                  distribution: 'series',
                  ticks: {
                    source: 'labels'
                  }
                 }],
                 yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: 'Analysis'
                  }
                 }]
               }
             }
           });
         </script>
         <script>
            var ctx = document.getElementById("pieChart").getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                labels: ['Positive', 'Negative', 'Neutral'],
                datasets: [{
                  label: 'Tweet Impressions',
                  data: [{{positive}}, {{negative}}, {{neutral}}],
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                responsive: true,
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: 'Sentiment Analysis'
                },
                animation: {
                  animateScale: true,
                  animateRotate: true
                }
              }
            });
          </script>
            {% endblock scripts %}

      </body>
</html>