{% extends '../header.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Topics Visualization</title>
    <link rel="stylesheet" href="{% static 'css/page1.css' %}">
      
        <!-- Custom CSS -->
        <!-- <link href="css/dashboard.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="{% static 'css/charts.css' %}">
      </head>
      
      <body>
        <style>
          .navbar{
            height: 8%;
          }
          </style>
         {% block pagecontent %}
            <div role="main" class="col-md-11  pt-3 ml-5 nav-2">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2"></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                      <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
                      <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="#">Pdf</a>
                        <a class="dropdown-item" href="#">Xlsx</a>
                        <a class="dropdown-item" href="#">Pptx</a>
                      </div>
                  </div>
                  <button type="button" class="btn btn-outline-dark">Share</button>
                  <input type="date" value="thisweeks" class="btn btn-sm btn-outline-secondary">
                </div>
              </div>
            </div>


                       <div class="container" style="margin-bottom: 1.5%; margin-top: 2%">

                        <div class="table-responsive">
                          <table class="table table-bordered table-hover">
                            <tbody>
                              <tr>
                                {% for topic in topics %}
                                <td>
                                  <div class="row">
                                    <div class="col-12 col-md-6">
                                      <div class="row">
                                        <div class="col-6  col-md-6">
                                          <p>#{{topic.tag}}</p>
                                        </div>
                                        <div class="col-6 col-md-6 text-right">
                                          {{topic.count}}%
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div class="progress" style="border-radius: 0">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{ topic.count }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ topic.count }}%">
                                        </div>
                                      </div>
                                    </div>
                                  </div>        
                                </td>
                            {% if forloop.counter|divisibleby:3 %}
                              </tr>
                           <tr>
                          {% endif %}
                          {% endfor %}
                             </tr>
                           
                            </tbody>
                          </table>
                        </div>
                      </div>
                       
                    <div  style="margin: 0% 10%;">
                        <h4 class="text-center">FILTER RESULT</h4>
                    
                   <div class="card  card-filter" style="width: 100%;">
                           <div class="card-body">
                             <div class="row">
                                   <div class=" col-12 col-md-6 border-class" style="">
                                       <h5 class="source text-center">Source</h5><br>
                                       <div class="row">
                                         <div class="col-12 col-md-6">
                                           <ul>
                                               <input type="checkbox" name="Facebook" value="Fb"> Facebook<br><br>
                                               <input type="checkbox" name="Twitter" value="Tw"> Twitter<br><br>
                                               <input type="checkbox" name="Instagram" value="In"> Instagram<br>
                                           </ul>
                                         </div>
                                         <div class=" col-12 col-md-6">
                                           
                                             <ul>
                                                 <input type="checkbox" name="Facebook" value="Fb"> Blogs<br><br>
                                                 <input type="checkbox" name="Twitter" value="Tw"> News<br><br>
                                                 <input type="checkbox" name="Instagram" value="In"> Web<br>
                                             </ul>
                                         </div>
                                       </div>    
                                    </div>

                                     <div class=" col-12 col-md-6">
                                        <h5 class="source text-center">Sentiments</h5><br>
                                        <ul>
                                               <input type="checkbox" name="Facebook" value="Fb"> Positive<br><br>
                                               <input type="checkbox" name="Twitter" value="Tw"> Negative<br><br>
                                               <input type="checkbox" name="Instagram" value="In"> Neutral<br>
                                        </ul>
                                        
                                        <a class="btn btn-sm btn-outline-success btn-reset" href="#">Reset Filter</a>

                                     </div>


                             </div>
                          
                           </div>
                         </div>
                     </div>
    {% endblock pagecontent %}

{% block scripts %}
            <!-- </main>   -->
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
                       <!-- AIzaSyCh9BrjZNlHaPmBQnDjspRmHQ5wu6YUTYc -->
      {% endblock scripts %}                 

      </body>
</html>