{% extends 'base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load widget_tweaks %}




 {% block content %}




<!-- Start:: main -->
	<main >
		<div class="container mt-112 mb-5">
			<div class="row">
				<div class="col-md-12">

							<div class="col-md-6">
								<div class="form_card">
									<div class="title">
										<p class="med_text text-center f-36 blue_color">  Savant Metrics [Social] </p>
										<p class="text-center light_grey f-14">Let us help you manage your company</p>

                                        <p>

                                            {% if messages %}
								{% for message in messages %}
								<div class="alert alert-warning alert-dismissible" style="margin:auto;">
									<a href="#" class="close" data-dismiss="alert" aria-label="Close">
										&times;
									</a>
									{{ message }}
								</div>
							{% endfor %}
							{% endif %}
                                        </p>
									</div>
									<div class="form-group login_form p-60">
										<form method="post" action="{% url 'accounts:login' %}">
                                             {% csrf_token %}
											<label for="">Username</label>
											<br>
											<input type="text" class="form-control h-47 green-caret" required name="username">
											<div class="form-group mt-4">
												<label for="">Password</label>
												<br>
												<input type="password" class="form-control h-47 green caret" required name="password">
											</div>
											<div class="form-group">
												<div class="checkbox">
													<label class="control control-checkbox green_color">
											            Remember Me
											            <input type="checkbox" checked="checked" />
											            <div class="control_indicator"></div>
											        </label>
													<a href="{% url 'accounts:reset' %}" class="pull-right green_color forgot_password">Forgot Password ?</a>
												</div>
											</div>
											<div class="form-group mt-3  px-3 ">

												<div class="buttons text-center mt-3">
													<button class="btn login_btn_2">Log In</button>
                                                </div>




                                                <div class=" mt-5 ok3">
                                                     <a href="{% url 'accounts:register' %}"  class=" font_color">Don't have an account yet?&nbsp;<strong>Sign Up</strong></a>
                                                </div>

											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="row no_account">
				<div class="col-md-12 text-right">
					<a href="signup.html" class="text-white ">Don't have an account yet? &nbsp; &nbsp;<strong>Sign Up</strong></a>
				</div>
			</div> -->
		</div>
	</main>
	<!-- END:: Main -->
{% endblock %}
