{% include "../header.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Icons -->
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
      
        <title>Savant Social Dashboard</title>
      
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
        <!-- Custom CSS -->
        <!-- <link href="css/dashboard.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="css/charts.css">
      </head>
      
      <body>
              

            <div role="main" class="col-md-11  pt-3 ml-5 nav-2">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2"></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                      <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
                      <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="#">Pdf</a>
                        <a class="dropdown-item" href="#">Xlsx</a>
                        <a class="dropdown-item" href="#">Pptx</a>
                      </div>
                  </div>
                  <button type="button" class="btn btn-outline-dark">Share</button>
                  <input type="date" value="thisweeks" class="btn btn-sm btn-outline-secondary">
                </div>
              </div>
            </div>


                       <div class="container" style="margin-bottom: 1.5%">
                         <div id="map" style=" text-align: center; width:100%;height:310px;" ></div>
                       </div>
                       
                    <div  style="margin: 0% 10%;">
                        <h4 class="text-center">FILTER RESULT</h4>
                    
                   <div class="card  card-filter" style="width: 100%;">
                           <div class="card-body">
                             <div class="row">
                                   <div class=" col-12 col-md-6 border-class" style="">
                                       <h5 class="source text-center">Source</h5><br>
                                       <div class="row">
                                         <div class="col-12 col-md-6">
                                           <ul>
                                               <input type="checkbox" name="Facebook" value="Fb"> Facebook<br><br>
                                               <input type="checkbox" name="Twitter" value="Tw"> Twitter<br><br>
                                               <input type="checkbox" name="Instagram" value="In"> Instagram<br>
                                           </ul>
                                         </div>
                                         <div class=" col-12 col-md-6">
                                           
                                             <ul>
                                                 <input type="checkbox" name="Facebook" value="Fb"> Blogs<br><br>
                                                 <input type="checkbox" name="Twitter" value="Tw"> News<br><br>
                                                 <input type="checkbox" name="Instagram" value="In"> Web<br>
                                             </ul>
                                         </div>
                                       </div>    
                                    </div>

                                     <div class=" col-12 col-md-6">
                                        <button class="btn btn-sm btn-outline-success btn-reset" id="getMarker">Load Data</button>
                                        <div style="visibility: hidden; z-index:1000000; margin:auto" class="ajax-loader">
                                            <img style="width:100px; height:100px;" src="{% static 'img/savant-4.gif' %}" class="img-responsive" />
                                        </div>
                                     </div>

                             </div>
                           </div>
                         </div>
                     </div>

            <!-- </main>   -->
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script>
            feather.replace()
          </script>
    
           <!-- Graphs -->
           <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
           <script>
             var ctx = document.getElementById("myChart").getContext('2d');
             var myChart = new Chart(ctx, {
               type: 'bar',
               data: {
                 labels: [" ", " ", " ", " ", " ", " "],
                 datasets: [{
                   label: 'My First Dataset',
                   data: [12, 19, 3, 5, 2, 3],
                   backgroundColor: [
                   'rgba(255, 99, 132, 0.2)',
                   'rgba(54, 162, 235, 0.2)',
                   'rgba(255, 206, 86, 0.2)',
                   'rgba(75, 192, 192, 0.2)',
                   'rgba(153, 102, 255, 0.2)',
                   'rgba(255, 159, 64, 0.2)'
                   ],
                   borderColor: [
                   'rgba(255,99,132,1)',
                   'rgba(54, 162, 235, 1)',
                   'rgba(255, 206, 86, 1)',
                   'rgba(75, 192, 192, 1)',
                   'rgba(153, 102, 255, 1)',
                   'rgba(255, 159, 64, 1)'
                   ],
                   borderWidth: 1
                 }]
               },
               options: {
                 scales: {
                   yAxes: [{
                     ticks: {
                       beginAtZero:true
                     }
                   }]
                 }
               }
             });
           </script>
     
           <script
           src="https://code.jquery.com/jquery-3.3.1.js"
           integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
           crossorigin="anonymous"></script>
           <script>
           </script>
           <script>
                         function initMap() {
                           var followersGeocoder = new google.maps.Geocoder();;
                           var followersMap = new google.maps.Map(document.getElementById('map'), {
                             zoom: 6,
                             center: {lat: 09.07, lng: 7.49}
                           });
                           var submit = document.getElementById('getMarker')
                           submit.addEventListener('click', function(){
                               getFollowerLocation(followersGeocoder, followersMap);

                           }) 
                         };


                         function getFollowerLocation(geocoder, resultsMap){
                           console.log('calling')
                           var heatMap = []
                           var tags =  [{% for tag in tags %}{ lat:{{tag.lat}}, lng:{{tag.lng}} },  {% endfor %}]
                            var count =[{% for counts in count %}  {{counts}}, {% endfor %} 1]
                            var locations = []

                            for (var i = 0; i<tags.length; i++){
                              for(var j =0; j < count[i]; j++){
                                locations.push(tags[i])
                              }
                            }
                            for (var i = 0; i < locations.length; i++) {
                              var coords = locations[i];
                              var latLng = new google.maps.LatLng(coords.lat, coords.lng);
                              heatMap.push(latLng);
                            }                    
                          var heatmap = new google.maps.visualization.HeatmapLayer({
                                data: heatMap,
                                dissipating: true,
                                map: resultsMap
                              }); 
                         }



                       </script>
                       <script async defer
                       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuo3Q-LQeKHqaPVraJkzxlMns8cWHA1LA&libraries=visualization&callback=initMap">
                       </script>
                       <!-- AIzaSyCh9BrjZNlHaPmBQnDjspRmHQ5wu6YUTYc -->
                       
      </body>
</html>