{% extends '../header.html' %}
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>{% block title %} Select A Component {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/page1.css' %}">
</head>
<body>

{% block pagecontent %}
  
      <!--  -->

    <nav aria-label="Page navigation example" style="margin: 1% 0 -2% 3%">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="javascript:history.back()" aria-label="Previous" style="border: none; ">
            <span aria-hidden="true"><i class="fa fa-caret-left fa-3x text-dark" ></i></span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
    </ul>
    </nav>

    <h3 class="big-font pb-3">Please Select a Component for {{ competitor.name }}</h3>
    

<div class="container container-fluid container-1">
    
    <div class="row">
      <div class="col-12 col-sm-4">
          <a href="{% url 'accounts:competitors-reach' competitor.id %}">
        <div class="card text-white red mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0; margin-right: 5%; background-color:brown">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <h3 class="text-white text-center text ">R</h3>
          </div>
        </div>
       </a>
        <p class="text-content"> Reach </p>
      </div>

       <div class=" col-12 col-sm-4">
            <a href="#">
        <div class="card text-white gold mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0; background-color: gold">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <h3 class="text-white text-center text ">I</h3>
          </div>
        </div>
            </a>
        <p class="text-content"> Influence</p>
      </div>

       <div class="col-12 col-sm-4">
            <a href="#">
        <div class="card text-white green mb-3 " style="width: 18rem;  border-radius: 0; padding: 10% 0; background-color: green">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <h3 class="text-white text-center text ">TA</h3>
          </div>
        </div>
            </a>
        <p class="text-content"> Time of Activity </p>
    </div>
    </div>
</div>

<div class="container container-fluid ">
    
    <div class="row" style="margin-left: -1.4%">
      <div class="col-12 col-sm-4">
            <a href="{% url 'accounts:competitors-topics' competitor.id %}">
        <div class="card text-white gray mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0; margin-right: 5%; background-color: gray">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <h3 class="text-white text-center text ">T</h3>
          </div>
        </div>
            </a>
        <p class="text-content"> Topics </p>
      </div>

       <div class=" col-12 col-sm-4">
            <a href="{% url 'accounts:competitors-location' competitor.id %}">
        <div class="card text-white blue mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0; background-color: blue">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <h3 class="text-white text-center text ">L</h3>
          </div>
        </div>
            </a>
        <p class="text-content"> Location </p>
      </div> 

      <div class="col-12 col-sm-4">
            <a href="#">
        <div class="card text-white gray-light mb-3 " style="width: 18rem;  border-radius: 0; padding: 10% 0; background-color: rgba(168, 155, 155, 0.767)">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <h3 class="text-white text-center text ">G</h3>
          </div>
        </div>
            </a>
        <p class="text-content"> Gender</p>
    </div>

    </div>
</div>


<div class="container container-fluid ">
    
    <div class="row" style="margin-left: -1.5%">
      <div class="col-12 col-sm-4">
            <a href="#">
        <div class="card text-white purple mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0; margin-right: 5%; background-color: purple">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <h3 class="text-white text-center text ">L</h3>
          </div>
        </div>
            </a>
        <p class="text-content"> Languages</p>
      </div>

       <div class=" col-12 col-sm-4">
            <a href="#">
        <div class="card text-white yellow mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0; background-color: yellow">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <h3 class="text-white text-center text ">P</h3>
          </div>
        </div>
            </a>
        <p class="text-content"> Popularity</p>
      </div> 
      <div class="col-12 col-sm-4">
            <a href="{% url 'accounts:competitors-sentiment' competitor.id %}">
        <div class="card text-white light-green mb-3 " style="width: 18rem;  border-radius: 0; padding: 10% 0; background-color: rgb(35, 243, 35)">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <h3 class="text-white text-center text ">S</h3>
          </div>
        </div>
            </a>
        <p class="text-content"> Sentiments</p>
        </div>
    </div>
</div>
{% endblock pagecontent %}

{% block scripts %}
  
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock scripts %}
  </body>
</html>