{% extends '../header.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Select Visualization</title>
    <link rel="stylesheet" href="{% static 'css/page1.css' %}">
</head>
<body>

    <!--  -->

    <!--  -->

{% block pagecontent %}
        
    <nav aria-label="Page navigation example" style="margin: 1% 0 -2% 3%">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="javascript:history.back()" aria-label="Previous" style="border: none; ">
            <span aria-hidden="true"><i class="fa fa-caret-left fa-3x text-dark" ></i></span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
    </ul>
    </nav>

    <h3 class="big-font">Please Select Visualization</h3>
    <div class="container" style="margin-top: 3%;">
        <div class="row">
            <div class="col-12 col-md-4">
                
                <a href="{% url 'accounts:competitors-barchart' competitor.id %}">
                    <div class="thumbnail">
                        <div class="text-border text-center red" style="height:100px; background-color: rgb(161, 27, 27)">
                            <img src="{% static 'img/bar chart.png' %}" style="height:100%" class="thumbnail-image">
                        </div>
                        <p class="text-content">
                            Bar Chart
                        </p>
                    </div>
                
                    </div>
                </a>

            <div class="col-12 col-md-4">
      
                
                <a href="">
                    <div class="thumbnail">
                        <div class="text-border text-center gray" style="height:100px;background-color: rgb(78, 75, 75)">
                            <img src="{% static 'img/analytics.png' %}" class="thumbnail-image">             
                        </div>
                        <p class="text-content">
                            Line Chart
                        </p>
                    </div>
                </a>

                
              
            </div>

            <div class="col-12 col-md-4">
                <a href="">
                    <div class="thumbnail">
                        <div class="text-border text-center light-green" style="height:100px;background-color: rgb(10, 77, 10)">
                            <img src="{% static 'img/Group.png' %}" class="thumbnail-image">
                        </div>
                        <p class="text-content">
                            Numbers
                        </p>
                    </div>
                </a> 
            </div>
        </div>       
        
    </div>


    {% endblock pagecontent %}

{% block scripts %}
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock scripts %}
</body>
</html>