{% extends 'base.html' %}

{% load humanize %}
{% load staticfiles %}
{% load widget_tweaks %}




{% block content %}
    <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->

    <!-- Start:: main -->
    <main>
        <div class="container mt-112 mb-5">
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-6">
                        <div class="form_card_2">
                            <div class="title">
                                <p class="med_text text-center f-36 blue_color">Hi! Good To Have You </p>
                                <p class="text-center light_grey f-14">Let us help you manage your company</p>
                            </div>

                            <div class="form-group login_form p-60 lol">

                                {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                                {% endif %}


                                {% if user_profile_form.errors %}
                                    <div class="block-form box-border wow fadeInLeft animated alert alert-danger  alert-dismissable"
                                         data-wow-duration="1s">

                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>

                                    {% for f in user_profile_form %}
                                        {% if f.errors %}
                                            <span class="text-error">  * {{ f.errors }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if form.errors %}
                                    {% for f in form %}
                                        {% if f.errors %}
                                            <span class="text-error">  * {{ f.errors }}</span>
                                        {% endif %}
                                    {% endfor %}


                                    </div>
                                {% endif %}
                                <!-- form login -->
                                <form action="{% url 'accounts:register' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>First Name</label>
                                        {% render_field form.first_name placeholder="Your Firstname" class="form-control h-47 green-caret" required="required" %}


                                    </div>

                                    <div class="form-group mt-3">
                                        <label>Last Name</label>
                                        {% render_field form.last_name placeholder="Your Lastname " class="form-control h-47 green caret" required="required" %}


                                    </div>
                                    <div class="form-group mt-3">
                                        <label>Username</label>

                                        {% render_field form.username placeholder="Your Username" class="form-control h-47 green caret" required="required" %}


                                        <input type="hidden" name="user_type" required="required" value="customer"
                                               id="inlineRadio4"/>

                                    </div>
                                    <div class="form-group mt-3">
                                        <label>Email</label>

                                        {% render_field form.email placeholder="Your Email" class="form-control h-47 green caret" required="required" %}


                                    </div>
                                    <div class="form-group mt-3">
                                        <label>Password</label>

                                        {% render_field form.password1 placeholder="Your Password" class="form-control h-47 green caret" required="required" %}


                                    </div>
                                    <div class="form-group mt-3">
                                        <label>Confirm Password</label>

                                        {% render_field form.password2 placeholder="Verify Your Password" class="form-control h-47 green caret" required="required" %}

                                    </div>

                                    <div class="form-group">
                                        <label>Accept Agreement</label>
                                        {% render_field form.accept_terms checked="checked" required="required" %}
                                        <a target="_blank" href="#">Terms and
                                            Conditions</a>




                                        <div class="checkbox">
                                            <label class="control control-checkbox green_color">
                                                Remember Me
                                                <input type="checkbox" checked="checked"/>
                                                <div class="control_indicator"></div>
                                            </label>
                                            <a href="recovery.html" class="pull-right green_color forgot_password">Forgot
                                                Password ?</a>
                                        </div>
                                    </div>
                                    <div class="form-group mt-3  px-3 ">

                                        <div class="buttons text-center mt-3">
                                            <button class="btn login_btn_2">Sign Up</button>
                                        </div>


                                        <div class=" mt-3 ok2">
                                            <a href="{% url 'accounts:login' %}" class="ml-5 font_color">Have an account
                                                ?&nbsp;<strong>Sign In</strong></a>
                                        </div>

                                    </div>

                                </form>
                                <!-- form login -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </main>
    <!-- END:: Main -->

{% endblock %}
