{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

    <title>Upgrade Plan</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <!-- <link href="css/dashboard.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'css/charts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>
<style>
        .navbar{
            height: 8%;
        }
        </style>
<body class="bg-light">
    <header class="mb-5">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #242424;">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/savantlogo.svg' %}"  width="100" height="65"  class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                        
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <ul class="navbar-nav mr-auto">     
                        <li class="nav-item ">
                            <i class="fa fa-bell-o"></i>
                        </li>
                        <li>
                            <h5 class="jaiz"><a href="" style="color:white; padding-top: 5%" >{{ user.username }}</a></h5> 
                        </li>
                        <li class="nav-item dropdown new-nav">
                            <button class="btn btn-user btn-sm  dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                                    <i class="fa fa-caret-down text-white" style="font-size: 20px"></i>
                            </button>
                            <div class="dropdown-menu text-white" aria-labelledby="dropdown07">
                                    <a class="dropdown-item" href="{% url 'accounts:profile-settings' %}">Settings</a>
                                    <a class="dropdown-item" href="{% url 'accounts:upgrade-plan' %}">Upgrade Plan</a>
                                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Signout</a>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
    </header>



    <!-- content -->
    <div  class="container container-fluid pt-5  mt-5 mb-5">

        <div class="card-deck mt-5">
          <div class="card" style="border-radius: 0">
            <div class="card-header bg-success text-white text-center pt-4 pb-3" style="border-radius: 0">
                <p class="font-weight-bold mb-0 h3">Small Enterprise</p>
                <p class="font-weight-bold h4">N7,000/Month</p>
            </div>
            <div class="card-footer">
                <p class="text-center h5 " style="font-weight: normal;">Best for a small <br> team of 2-5 persons</p>
            </div>
            <div class="card-body">
              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5">2 Team Members</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5">2 Profiles</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5">Social Media Integration</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: normal; opacity: 0.6">Dashboard View</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: lighter; font-style: italic; opacity: 0.3">Analytics</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: lighter; font-style: italic; opacity: 0.3">Trend Monitoring</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: lighter; font-style: italic; opacity: 0.3">Competition Analytics</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: lighter; font-style: italic; opacity: 0.3">Sentiments</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-5">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: lighter; font-style: italic; opacity: 0.3">Export Data</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

                <div class="text-center mt-5 mb-5">
                    <button class="btn btn-success mt-5"  style="border-radius: 0; height: 100%; width: 70%  ">
                       Get started
                    </button>
                </div>
                

            </div>
            
          </div>

          <div class="card" style="border-radius: 0">
            <div class="card-header bg-success text-white text-center pt-4 pb-3" style="border-radius: 0">
                <p class="font-weight-bold mb-0 h3">Medium Enterprise</p>
                <p class="font-weight-bold h4">N25,000/Month</p>
            </div>
            <div class="card-footer">
                <p class="text-center h5 " style="font-weight: normal;">Best for a medium <br> team of 15-30 persons</p>
            </div>
            <div class="card-body">
              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5">10 Team Members</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5">8 Profiles</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5">Social Media Integration</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: normal; opacity: 0.6">Dashboard View</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: normal; opacity: 0.6">Analytics</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: normal; opacity: 0.6">Trend Monitoring</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: lighter; font-style: italic; opacity: 0.3">Competition Analytics</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: lighter; font-style: italic; opacity: 0.3">Sentiments</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-5">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: lighter; font-style: italic; opacity: 0.3">Export Data</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

                <div class="text-center mt-5 mb-5">
                    <button class="btn btn-success mt-5"  style="border-radius: 0; height: 100%; width: 70%  ">
                       Get started
                    </button>
                </div>
                

            </div>
            
            
          </div>

          <div class="card" style="border-radius: 0">
            <div class="card-header bg-success text-white text-center pt-4 pb-3" style="border-radius: 0">
                <p class="font-weight-bold mb-0 h3">Large Enterprise</p>
                <p class="font-weight-bold h4">N45,000/Month</p>
            </div>
            <div class="card-footer">
                <p class="text-center h5 " style="font-weight: normal;">Best for companies and <br> agencies to grow their  business</p>
            </div>
            <div class="card-body">
              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5">2 Team Members</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5">2 Profiles</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5">Social Media Integration</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: normal; opacity: 0.6">Dashboard View</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: normal; opacity: 0.6">Analytics</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: normal; opacity: 0.6">Trend Monitoring</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: normal; opacity: 0.6">Competition Analytics</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: normal; opacity: 0.6">Sentiments</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

              <div class="row mb-5">
                  <div class="col-10 col-md-10">
                      <p class="h5" style="font-weight: normal; opacity: 0.6">Export Data</p>
                  </div>

                  <div class="col-2 col-md-2">
                      <i class="fa fa-check-circle mt-1 text-success" style="font-size: 1em"></i>
                  </div>
              </div>

                <div class="text-center mt-5 mb-5">
                    <button class="btn btn-success mt-5"  style="border-radius: 0; height: 100%; width: 70%  ">
                       Get started
                    </button>
                </div>
                

            </div>
            
            
          </div>
        </div>

    </div>












          <!-- Bootstrap core JavaScript
              ================================================== -->
              <!-- Placed at the end of the document so the pages load faster -->
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </body>
    </html>            
