{% load staticfiles %}
 <!DOCTYPE html>
<html lang="en">
<head>
	<!-- meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Savant Social  </title>

	<!-- favicon -->
	<link rel="icon" href="{% static '/' %}img/savant.png" sizes="16x16" type="image/png">
	<!-- Bootstrap & Fontawesome CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- External CSS -->
	<link rel="stylesheet" type="text/css" href="{% static '/' %}css/header.css">
	<link rel="stylesheet" type="text/css" href="{% static '/' %}css/login.css">


</head>
<body class="bg_dark-grey">

	<!--  Start::header -->


	<!-- header-2 -->
	<nav class="navbar navbar-expand-lg px-5 py-4 bg_dark-grey navbar-light">
		<a class="navbar-brand" href="{%  url 'home' %}">
			<img src="{% static '/' %}img/savant.png" width="150px">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="mr-auto"></ul>
			<ul class="navbar-nav  mt-2 mt-lg-0 my-2">
				<li class="nav-item active">
					<a class="nav-link  mr-4 font_color" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link  mr-4 font_color" href="#">About</a>
                </li>
                <li class="nav-item">
					<a class="nav-link  mr-4 font_color" href="#">Solution</a>
				</li>
				<li class="nav-item">
					<a class="nav-link  mr-4 font_color" href="#">Contact</a>
				</li>
				<!-- <li class="nav-item">
					<a class="btn nav-link text-white auth-btn bg-success px-5" href="#">Log In</a>
				</li> -->
			</ul>
			<form class="form-inline ">
			</form>
		</div>
	</nav>
	<!-- End:: Header -->
	<!-- Start:: main -->

    {% block content %}

    {% endblock %}





</body>


<!--JS, Popper.js, and jQuery  -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>



</html>