{% load staticfiles %}
<!DOCTYPE html>

<html>
        <head>

          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="description" content="">
          <meta name="author" content="">
          <!-- Icons -->
          <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        
          <title>Savant Social Dashboard</title>
        
          <!-- Bootstrap core CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
          <!-- Custom css -->
          <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
          <link href="{% static  'css/animate.css' %}" rel="stylesheet">
          <link href="{% static 'css/aos.css' %}" rel="stylesheet">
                <title>
                Savant Social - {% block title %}{% endblock %}
                </title>

  </head>
  <body>


      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top sticky-top flex-md-nowrap p-0">
          <a class="navbar-brand col-xs-3 col-md-2 mr-0 text-white" href="{% url 'home' %}"> Hello {{ user }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav navbar-right">
                  
                  <li class="nav-item">
                     <a href="{% url 'accounts:accounts-home' %}" class="profile">
                      <button class="btn btn-sm btn-success btn-plus"> <i class="fa fa-plus fa-fw"></i>Add Profile</button></a> 
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-user btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle-o fa-2x ml-3" aria-hidden="true"></i> <i class="fa fa-caret-down text-white" style="font-size: 15px"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="{% url 'accounts:profile-settings' %}">Settings</a>
                            <a class="dropdown-item" href="{% url 'accounts:upgrade-plan' %}">Upgrade Plan</a>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Signout</a>
                        </div>
                  </li>
                  <li class="nav-item">
                      <button class="btn btn-user btn-sm" type="button">
                        <a href="{% url 'twitter-mentions' %}" style="font-size: 20px" class="fa fa-bell-o" aria-hidden="true">
                            <span class="badge badge-info text-white" style="font-size:10px" id="mention-count"></span>
                        </a>
                    </button>
                  </li>
              </ul>
          </div>
      </nav> 


      {% block pagecontent %}



      
      {% endblock pagecontent %}
    </div>


    
    {% block scripts %}
            <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
   
<!--Chat widget-->
<!-- Start of Async Drift Code -->
<script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('z449gny32ztp');
    </script>
    <!-- End of Async Drift Code -->

    

    <script type="text/javascript">
      $(window).on('load',function(){      
      (function worker() {
        $.ajax({
          url: '{% url "stream_twitter" %}', 
          success: function(data) {
            console.log(data)
            object = document.getElementById('mention-count');
            object.innerHTML = data.data
          },
          error: function(){
            setTimeout(worker, 120000);
          },
          complete: function() {
            // Schedule the next request when the current one's complete
            setTimeout(worker, 120000);
          }
        });
      })();
    });
    </script>


    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>



    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>



    {% endblock scripts %} 
  </body>
</html>