{% extends 'header.html' %} 
{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>

		<meta charset="utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>{% block title %} Dashboard {% endblock %}</title>
  </head>

  <body >

    {% block pagecontent %}
    {% include 'sidebar.html' %}
    <div class="container-fluid">
      <div class="row">
        
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 ">
        	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        		<h1 class="h2">Home</h1>
        		<div class="row">
							{% if messages %}
								{% for message in messages %}
								<div class="alert alert-warning alert-dismissible" style="margin:auto;">
									<a href="#" class="close" data-dismiss="alert" aria-label="Close">
										&times;
									</a>
									{{ message }}
								</div>
							{% endfor %}
							{% endif %}
        		</div>
        	</div>

        	<div class="text-center">
        		<h5>Hi {{ user }}, Welcome to Savant Social!</h5>
        		<p class="text-muted">Monitoring your online presence made easy! You have a couple of more things to do to complete setting up your profile. <br>Click on the guide below to get started.</p>
        	</div>
        	<br><br><br>
        	<div class="card-deck text-center">
        		<div class="card"><br>
        			<i class="fa fa-tachometer tach fa-5x"></i>
        			<div class="card-body">
        				<h5 class="card-title">Dashboard Tour</h5>
        				<p class="card-text text-muted">Learn how you can easily use Savant <br>Social.</p><br><br>
        				<a class="btn btn-sm btn-outline-success" href="#"> Start</a>
        			</div>
        		</div>
        		<div class="card"><br>
        			<i class="fa fa-sliders tach fa-5x"></i>
        			<div class="card-body">
        				<h5 class="card-title">Setup Profile</h5>
        				<p class="card-text text-muted">Monitor your brand or product's online presence.</p><br><br>
        				<a class="btn btn-sm btn-outline-success" href="{% url 'accounts:home' %}"> Setup</a>
        			</div>
        		</div>
        		<div class="card"><br><br>
        			<i class="fa fa-users tach fa-4x" aria-hidden="true" ></i>
        			<div class="card-body">
        				<h5 class="card-title">Monitor Competition</h5>
        				<p class="card-text text-muted">Monitor how your competitor's are performing online.</p><br><br>
        				<a class="btn btn-sm btn-outline-success" href="{% url 'accounts:account-brand' %}"> Start</a>
        			</div>
        		</div>
        	</div>

          
        </main>
      </div>
    </div>
   {% endblock %}
  </body>
</html>
