{% load staticfiles %}


<nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item" >
              <a  href="{% url 'accounts:logout' %}"  class="nav-link" style="color: #ff6600" onclick="">
                <i class="fa fa-user fa-fw"></i>
                Signout <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item animated bounceIn">
              <a class="nav-link" href="{% url 'home' %}">
                <i class="fa fa-tachometer fa-fw"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item animated bounceIn">
                <a class="nav-link" href="{% url 'twitter-mentions' %}">
                  <i class="fa fa-bullhorn fa-fw"></i>
                  Mentions
                </a>
              </li>
            </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Analytics</span>
            <a class="d-flex align-items-center text-muted" href="#">
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item animated bounceIn">
              <a class="nav-link " href="{% url 'twitter_followers_data' %}">
                <i class="fa fa-twitter fa-fw"></i>
                Twitter
              </a>
            </li>
            <!--
            <li class="nav-item animated bounceIn">
              <a class="nav-link" href="facebook.html">
                <i class="fa fa-facebook fa-fw"></i>
                Facebook
              </a>
            </li>
            <li class="nav-item animated bounceIn">
              <a class="nav-link" href="instagram.html">
                <i class="fa fa-instagram fa-fw"></i>
                Instagram
              </a>
            </li> 
          -->
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Competition</span>
                <a class="d-flex align-items-center text-muted" href="#">
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
              {% for comeptitor in user.competitor_set.all %}
            <li class="nav-item animated bounceIn">
              <a class="nav-link" href="{{ comeptitor.get_absolute_url }}">
                <span data-feather="layers"></span>
                {{ comeptitor.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          
          <button class="btn btn-outline-danger btn1  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</button>
          <div class="dropdown-menu" aria-labelledby="dropdown07">
            <a class="dropdown-item" href="#">Getting Started</a>
            <a class="dropdown-item" href="#">FAQ</a>
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Signout</a>
          </div>
        </div>
        </div>
      </nav>
