{% extends '../header.html' %} 
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
        <head>
  
                <meta charset="utf-8">
                <title>{% block title %} Loading {% endblock %}</title>
        </head>
<body>
    {% block pagecontent %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 " style="background-color: #f2f2f2; padding: 11.7% 0; height:700px;">
                <img src="{% static 'img/microscope.png' %}" class="img-fluid mt-auto " style="background-color: #f2f2f2;">
            </div>
            <div class="col-12 col-md-8 pt-5 text-center">
                <p class="h2 mt-5 mb-5">Please wait while we finish setup</p>
                <i class="fa fa-spinner fa-pulse fa-3x text-primary text-center " style="font-size:18em"></i>
            </div>              
    </div>


    {% endblock pagecontent %}
    {% block scripts %}
  <!-- Bootstrap Compiled JS, JQuery and PopperJS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock scripts %}
</body>
</html>