{% extends '../header.html' %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Select A Component</title>
    <link rel="stylesheet" href="css/page1.css">
</head>
<body>
{% block pagecontent %}



    <nav aria-label="Page navigation example" style="margin: 1% 0 -2% 3%">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="{% url 'home' %}" aria-label="Previous" style="border: none; ">
            <span aria-hidden="true"><i class="fa fa-caret-left fa-3x text-dark" ></i></span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
    </ul>
    </nav>

    <h3 class="big-font pb-3">Please Select a Component To Analyze <strong>{{ user_id.name }}</strong></h3>
    

<div class="container container-fluid container-1">
    
    <div class="row">
      <div class="col-12 col-sm-4">
          <a href="#">
        <div class="card text-white red mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0; margin-right: 5%;">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <p class="text-white text-center text ">R</p>
          </div>
        </div>
       </a>
        <p class="text-content"> Reach </p>
      </div>

       <div class=" col-12 col-sm-4">
            <a href="influence.html">
        <div class="card text-white gold mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0;">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <p class="text-white text-center text ">I</p>
          </div>
        </div>
            </a>
        <p class="text-content"> Influence</p>
      </div>

       <div class="col-12 col-sm-4">
            <a href="time.html">
        <div class="card text-white green mb-3 " style="width: 18rem;  border-radius: 0; padding: 10% 0;">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <p class="text-white text-center text ">TA</p>
          </div>
        </div>
            </a>
        <p class="text-content"> Time of Activity </p>
    </div>
    </div>
</div>

<div class="container container-fluid ">
    
    <div class="row" style="margin-left: -1.4%">
      <div class="col-12 col-sm-4">
            <a href="topics.html">
        <div class="card text-white gray mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0; margin-right: 5%;">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <p class="text-white text-center text ">T</p>
          </div>
        </div>
            </a>
        <p class="text-content"> Topics </p>
      </div>

       <div class=" col-12 col-sm-4">
            <a href="location.html">
        <div class="card text-white blue mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0;">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <p class="text-white text-center text ">L</p>
          </div>
        </div>
            </a>
        <p class="text-content"> Location </p>
      </div> 

      <div class="col-12 col-sm-4">
            <a href="gender.html">
        <div class="card text-white gray-light mb-3 " style="width: 18rem;  border-radius: 0; padding: 10% 0;">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <p class="text-white text-center text ">G</p>
          </div>
        </div>
            </a>
        <p class="text-content"> Gender</p>
    </div>

    </div>
</div>


<div class="container container-fluid ">
    
    <div class="row" style="margin-left: -1.5%">
      <div class="col-12 col-sm-4">
            <a href="languages.html">
        <div class="card text-white purple mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0; margin-right: 5%;">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <p class="text-white text-center text ">L</p>
          </div>
        </div>
            </a>
        <p class="text-content"> Languages</p>
      </div>

       <div class=" col-12 col-sm-4">
            <a href="popularity.html">
        <div class="card text-white yellow mb-3" style="width: 18rem;  border-radius: 0; padding: 10% 0;">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <p class="text-white text-center text ">P</p>
          </div>
        </div>
            </a>
        <p class="text-content"> Popularity</p>
      </div> 
      <div class="col-12 col-sm-4">
            <a href="sentiments.html">
        <div class="card text-white light-green mb-3 " style="width: 18rem;  border-radius: 0; padding: 10% 0;">
          <div class="card-body">
            <!-- <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <p class="text-white text-center text ">S</p>
          </div>
        </div>
            </a>
        <p class="text-content"> Sentiments</p>
        </div>
    </div>
</div>
{% endblock pagecontent %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock scripts %}
</body>
</html>